{% extends 'accounts/base.html' %}

{% block content %}

  {% if user.is_authenticated %}

    <h1> Welcome, {{ user.username }} </h1>

    <br>

    <h2> Decks </h2></br>
    {% for deck in decks %}
        {% if forloop.first %}
        <div class="row" style="padding-top:15px;">
        {% endif %}
        <div class="col-sm-4" style="padding:50px;" >
            <a href="/browse/deck_details/{{deck.id}}">
              {% if deck.art_card.data.layout == "transform"  %}
                <img style="height:150px;" src="{{deck.art_card.data.card_faces.0.image_uris.art_crop}}" />
              {% elif deck.art_card.data.layout == "planar" or deck.art_card.data.layout == "split"  %}
                <img style="height:150px;" src="{{deck.art_card.data.image_uris.art_crop}}" />
              {% else %}
                <img style="height:150px;" src="{{deck.art_card.data.image_uris.art_crop}}" />
              {% endif %}
            <li style="list-style:none" class="collection-item">{{deck.name}}</li>
          </a>
        </div>
    {% if forloop.last %}</div>{% endif %}
    {% endfor %}

  </br>

  <h5><a href="{% url 'profile_decks' %}">View all decks</a></h5>

  </br>

    <h2> Options </h2></br>
    <h5><a href="{% url 'logout' %}">Logout</a></h5>
    <h5><a href="{% url 'change_password' %}">Change password</a></h5>
    <h5><a href="{% url 'remove_account' username=user.username %}">Remove account</a></h5>

  {% endif %}

{% endblock %}
