{% extends 'wubrgapp\base.html' %}

{% block title %}Browse Content{% endblock %}

{% block blurb %}
Look at all the cool decks other players have built
and get ideas for the next deck you end up spending too much money on!
{% endblock %}

{% block content %}
<h2 class="center-align blue lighten-3">Browse Cards</h2>
<div>
  <ul class="collection">
  {% for card in cards %}
  <!--<li class="collection-item"><a href="/browse/details/{{card.collector_number}}">{{card.name}}</a></li>-->
  <li class="collection-item"><a href="/browse/details/{{card.set_abbr}}/{{card.collector_number}}">{{card.name}}</a></li>
  {% endfor %}
</ul>
</div>
<h2 class="center-align green lighten-3">Browse Decks</h2>
<div>
  <ul>
    <li>Gishath 2: Less Dinosaurs</li>
    <li>Life Total Abacus</li>
  </ul>
</div>
{% endblock %}
