{% extends 'wubrgapp/base.html' %}

{% block title %}Browse{% endblock %}

{% block content %}
<head>
  <title>WUBRG</title>
</head>
<body>
  <header class="container center-align">
    <h1>{{card.data.name}}</h1>
  </header>
  <div class="container center-align">
    <a href="{{card.data.image_uris.png}}">
      {% if card.data.layout == "transform" or card.data.layout == "double_faced_token" %}
        <img style="height:500px;" src="{{card.data.card_faces.0.image_uris.png}}" />
        <img style="height:500px;" src="{{card.data.card_faces.1.image_uris.png}}" />
      {% elif card.data.layout == "flip" %}
        <img style="height:500px;" src="{{card.data.image_uris.png}}" />
        <img class="roatate_d" style="height:500px;" src="{{card.data.image_uris.png}}" />
      {% elif card.data.layout == "planar" or card.data.layout == "split"  %}
          {% if "Aftermath" in card.data.card_faces.1.oracle_text  %}
            <img style="height:500px;" src="{{card.data.image_uris.png}}" />
            <img class="rotate_l" style="height:500px; margin-left:100px;" src="{{card.data.image_uris.png}}" />
          {% else %}
            <img class="rotate" style="height:500px;" src="{{card.data.image_uris.png}}" />
          {% endif %}
      {% else %}
        <img style="height:500px;" src="{{card.data.image_uris.png}}" />
      {% endif %}
    </a>
  <br>
    {{card.data.oracle_text}}
  <br>
    {{card.data}}
    {% if name %}
      <a href="/browse/cards/results?page={{page}}&name={{name}}">Back</a>
    {% else %}
      <a href="/browse/cards/all?page={{page}}">Back</a>
    {% endif %}
  </div>


<br><br>


  {% if user.is_authenticated %}
    <div class="container center-align">
      <form action="/builder/add/card/{{card.id}}" method="POST" id="add_card_form">
        {% csrf_token %}
        <select name="deck_id" form="add_card_form">
          {% for deck in decks %}
            <option value="{{deck.id}}" label="{{deck.name}}"></option>
          {% endfor %}
        </select>
        <button class="btn btn-secondary" role="button" type="submit" name="is_sideboard" value="False">Add card to deck</button>
        <button class="btn btn-secondary" role="button" type="submit" name="is_sideboard" value="True">Add card to sideboard</button>
      </form>
    </div>
  {% else %}
    <div class="container center-align">
      <p>Log in to add this card to a deck.</p>
      <a class="btn btn-secondary" href="/profile/login" role="button">Log in</a>
    </div>
  {% endif %}

  <br><br>

  <a class="btn btn-secondary" href="https://shop.tcgplayer.com/magic/product/show?ProductName={{card.data.name}}&Price_Condition=Less+Than" target="_blank" role="button">Buy on TCGplayer</a>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}

{% endblock %}
