{% extends 'wubrgapp/base.html' %}

<head>
  <title>WUBRG - Search Cards</title>
</head>

{% block title %}Search Cards{% endblock %}

{% block content %}
<header class="container center-align">
  <h1>Search Cards</h1>
</header>

<form method="get" action="results">
  Search Cards: <input type="text" name="name" placeholder="Lightning Bolt"/>
  <input type="submit" value="Search" />
</form>

<hr>

<h3>Advanced Search</h3>
<form method="get" action="results">
  <input type="text" name="name" placeholder="Lightning Bolt"/>
  <input type="hidden" name="is_advanced" value="True">
  <input type="submit" value="Search" />
</form>

{% endblock %}
