{% extends 'wubrgapp/base.html' %}

{% block title %}Browse{% endblock %}

{% block content %}
<head>
  <title>WUBRG</title>
</head>
<body>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>

  <header class="container center-align">
    <h1>{{card.data.name}}</h1>
    <a href="/browse/cards/printings?page=1&name={{card.data.name}}"><p><small>Find other printings!</small></p></a>
  </header>
  <div class="container">
      <a href="{{card.data.image_uris.png}}">
        {% if card.data.layout == "transform" or card.data.layout == "double_faced_token" %}
          <img style="height:500px;" src="{{card.data.card_faces.0.image_uris.png}}" />
          <img style="height:500px;" src="{{card.data.card_faces.1.image_uris.png}}" />
        {% elif card.data.layout == "flip" %}
          <img style="height:500px;" src="{{card.data.image_uris.png}}" />
          <img class="rotate_d" style="height:500px;" src="{{card.data.image_uris.png}}" />
        {% elif card.data.layout == "planar" or card.data.layout == "split"  %}
            {% if "Aftermath" in card.data.card_faces.1.oracle_text  %}
              <img style="height:500px;" src="{{card.data.image_uris.png}}" />
              <img class="rotate_l" style="height:500px; margin-left:100px;" src="{{card.data.image_uris.png}}" />
            {% else %}
              <img class="rotate" style="height:500px;" src="{{card.data.image_uris.png}}" />
            {% endif %}
        {% elif card.data.layout == "meld" %}
          <img style="height:500px;" src="{{card.data.image_uris.png}}" />
        {% else %}
          <img style="height:500px;" src="{{card.data.image_uris.png}}" />
        {% endif %}
      </a>
    <br>
    {% if card.data.layout == "meld" %}
      <a href="/browse/cards/results?name={{card.data.all_parts.0.name}}">{{card.data.all_parts.0.name}}</a> melds with <a href="/browse/cards/results?name={{card.data.all_parts.2.name}}">{{card.data.all_parts.2.name}}</a> into <a href="/browse/cards/results?name={{card.data.all_parts.1.name}}">{{card.data.all_parts.1.name}}</a>.
    {% endif %}
    <div>

      <h5>{{card.data.name}}</h5>
      {% if pmc %}
        Mana Cost:
        <span class="badge badge-secondary badge-pill">
        {% for item in pmc %}
          <!--Edge cases: Hybrid Mana, Phyrexean Mana, Unstable, etc...-->
          {% if item|lower == "hw" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=HalfW&type=symbol" />

          {% elif item == "W/U" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=WU&type=symbol" />
          {% elif item == "U/B" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=UB&type=symbol" />
          {% elif item == "B/R" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=BR&type=symbol" />
          {% elif item == "R/G" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=RG&type=symbol" />
          {% elif item == "G/W" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=GW&type=symbol" />
          {% elif item == "W/B" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=WB&type=symbol" />
          {% elif item == "U/R" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=UR&type=symbol" />
          {% elif item == "B/G" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=BG&type=symbol" />
          {% elif item == "R/W" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=RW&type=symbol" />
          {% elif item == "G/U" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=GU&type=symbol" />

          {% elif item == "2/W" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=2W&type=symbol" />
          {% elif item == "2/U" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=2U&type=symbol" />
          {% elif item == "2/B" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=2B&type=symbol" />
          {% elif item == "2/R" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=2R&type=symbol" />
          {% elif item == "2/G" %}
                <img src="http://gatherer.wizards.com/Handlers/Image.ashx?size=medium&name=2G&type=symbol" />

          {% elif item|lower == "w/p" %}
                <i class="ms ms-w ms-p"></i>
          {% elif item|lower == "u/p" %}
                <i class="ms ms-u ms-p"></i>
          {% elif item|lower == "b/p" %}
                <i class="ms ms-b ms-p"></i>
          {% elif item|lower == "r/p" %}
                <i class="ms ms-r ms-p"></i>
          {% elif item|lower == "g/p" %}
                <i class="ms ms-g ms-p"></i>

          {% elif item == "//" %}
            </span>//<span class="badge badge-secondary badge-pill">
          {% else %}
            <i class="ms ms-{{item|lower}}"></i>
          {% endif %}
        {% endfor %}
        </span>
      {% endif %}
      <br />

      Converted Mana Cost: {{card.data.cmc}}<br />
      Types: {{card.data.type_line}}<br /><br />
      {% if not "Token" in card.data.type_line %}
        Oracle Text: <div class="card oracle_text"><p>{{formatted_oracle | safe}}</p></div>
      {% endif %}

      {% if card.data.power %}
        Power/Toughness: {{card.data.power}}/{{card.data.toughness}}
      {% endif %}
      {% if card.data.loyalty %}
        Starting Loyalty: {{card.data.loyalty}}
      {% endif %}<br />

      Rarity: {{card.data.rarity|title}}<br />
      Set: {{card.data.set_name}} ({{card.data.set|upper}})<br />
      Art by: {{card.data.artist}}<br />
      Collector number: {{card.data.collector_number}}
    </div>
  </div>

<br><br>

  {% if user.is_authenticated %}
    <div class="container center-align">
      <form action="/builder/add/card/{{card.id}}" method="POST" id="add_card_form">
        {% csrf_token %}
        <select name="deck_id" form="add_card_form">
          {% for deck in decks %}
            <option value="{{deck.id}}" label="{{deck.name}}"></option>
          {% endfor %}
        </select>
        <input type="checkbox" name="is_commander" value="True">Make commander<br><br>
        <button class="btn btn-secondary" role="button" type="submit" name="is_sideboard" value="False">Add card to deck</button>
        <button class="btn btn-secondary" role="button" type="submit" name="is_sideboard" value="True">Add card to sideboard</button>
      </form>
    </div>
  {% else %}
    <div class="container center-align">
      <p>Log in to add this card to a deck.</p>
      <a class="btn btn-secondary" href="/profile/login" role="button">Log in</a>
    </div>
  {% endif %}

  <br>

  <a class="btn btn-secondary" href="https://shop.tcgplayer.com/magic/product/show?ProductName={{card.data.name}}&Price_Condition=Less+Than" target="_blank" role="button">Buy on TCGplayer</a>

  <br><br><br>
  {% if name %}
    <a class="btn btn-secondary" role="button" href="/browse/cards/results?page={{page}}&name={{name}}">Back to search results for "{{name}}"</a>
  {% elif query %}
    <a class="btn btn-secondary" role="button" href="/browse/cards/adv_results?page={{page}}{{query}}">Back to search results</a>
  {% else %}
    <a class="btn btn-secondary" role="button" href="/browse/cards/all?page={{page}}">Back</a>
  {% endif %}

  <br><br>

  {% if messages %}
    {% for m in messages %}
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{m.message}}
      </div>
    {% endfor %}
  {% endif %}


{% endblock %}
