{% extends 'wubrgapp/base.html' %}

{% block title %}Browse{% endblock %}

{% block content %}

  <div class="container center-align">
    <h2>{{deck.name}}</h2>
  <br>
    <a href="{{art_card.data.image_uris.art_crop}}">
      {% if art_card.data.layout == "transform"  %}
        <img class="details-deck-image" style="height:300px;" src="{{art_card.data.card_faces.0.image_uris.art_crop}}" />
      {% elif art_card.data.layout == "planar" or art_card.data.layout == "split"  %}
        <img class="rotate details-deck-image" style="height:300px;" src="{{art_card.data.image_uris.art_crop}}" />
      {% else %}
        <img class="details-deck-image" style="height:300px;" src="{{art_card.data.image_uris.art_crop}}" />
      {% endif %}
    </a>
    <p>{{deck.description}}</p>
  <br>
  {% if parent_deck %}
    <p>Based on: <a href="/browse/deck_details/{{parent_deck.id}}">{{ parent_deck.name }}</a> by {{ parent_deck.creator }}</p>
  {% endif %}
  <br>
  <p>Unfinished deck: {{deck.is_draft}}</p>
  <p>Creator: {{deck.creator}}</p>
  <p>Format: {{deck.format}}</p>
  <p>Colors: {{deck.colors}}</p>
  <p>Date Created: {{deck.date_created}}</p>
  <p>Number of cards in deck: {{deck.card_count}}</p>
  <p>Number of cards in sideboard: {{deck.sideboard_card_count}}</p>
  </div>

  <!-- main deck -->
  <h3>Mainboard</h3>
  <ul class="list-group">
  {% for card, deck_card in cards_data %}
      <li class="list-group-item">
        <a href="/browse/card_details/{{card.id}}">{{card.data.name}}</a>
        {% if deck_card.count > 1 %}
        x{{deck_card.count}}
        {% endif %}
        {% if can_edit %}
          {% if deck_card.count > 1 %}
          <form method="POST" action="/builder/remove/card/{{card.id}}" style="float:left;">
            {% csrf_token %}
            <input type="hidden" name="deck_id" value="{{deck.id}}" />
            <input type="number" style="width:50px" name="remove_count" min="1" max="{{deck_card.count}}" />
            <button type="submit" style="float:left;" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </form>
          {% else %}
            <form method="POST" action="/builder/remove/card/{{card.id}}" style="float:left;">
              {% csrf_token %}
              <input type="hidden" name="deck_id" value="{{deck.id}}" />
              <button type="submit" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </form>
          {% endif %}
          <form method="POST" action="/builder/update/art/{{card.id}}" style="float:right;">
            {% csrf_token %}
            <input type="hidden" name="deck_id" value="{{deck.id}}" />
            <button class="btn btn-secondary" type="submit" role="button">Make art card</button>
          </form>
        {% endif %}
      </li>
  {% endfor %}
  </ul>

  <br>

  <!-- sideboard -->
  <h3>Sideboard</h3>
  <ul class="list-group">
  {% for card, side_card in sideboard_cards_data %}
      <li class="list-group-item">
        <a href="/browse/card_details/{{card.id}}">{{card.data.name}}</a>
        {% if side_card.count > 1 %}
        x{{side_card.count}}
        {% endif %}
        {% if can_edit %}
          {% if side_card.count > 1 %}
          <form method="POST" action="/builder/remove/card/{{card.id}}" style="float:left;">
            {% csrf_token %}
            <input type="hidden" name="deck_id" value="{{deck.id}}" />
            <input type="number" style="width:50px" name="remove_count" min="1" max="{{side_card.count}}" />
            <button type="submit" style="float:left;" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </form>
          {% else %}
            <form method="POST" action="/builder/remove/card/{{card.id}}" style="float:left;">
              {% csrf_token %}
              <input type="hidden" name="deck_id" value="{{deck.id}}" />
              <button type="submit" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </form>
          {% endif %}
          <form method="POST" action="/builder/update/art/{{card.id}}" style="float:right;">
            {% csrf_token %}
            <input type="hidden" name="deck_id" value="{{deck.id}}" />
            <button class="btn btn-secondary" type="submit" role="button">Make art card</button>
          </form>
        {% endif %}
      </li>
  {% endfor %}
  </ul>

  </br>

  <a class="btn btn-secondary" href="https://store.tcgplayer.com/massentry?c={{mass_buy_string}}" target="_blank" role="button">Buy this deck on TCGplayer</a>

  </br>
  </br>

  <a href="/browse?page={{page}}">Back</a></br></br>

  {% if has_deck and can_edit %}
    </br><a href="/builder/add/card/massentry">Mass entry</a></br>
    </br><a href="/builder/validate/deck/{{deck.id}}">Validate deck</a></br>
    </br></br>
    <a href="/builder/remove/deck/{{deck.id}}">Remove this deck from your account</a>
  {% elif has_deck and not can_edit %}
    <a href="/builder/add/deck/{{deck.id}}">Make a copy of this deck</a>
    <br>
    <a href="/builder/unfollow/deck/{{deck.id}}">Unfollow this deck</a>
  {% else %}
    <a href="/builder/add/deck/{{deck.id}}">Make a copy of this deck</a>
    <br>
    <a href="/builder/follow/deck/{{deck.id}}">Follow this deck</a>
  {% endif %}

{% endblock %}
