{% extends 'wubrgapp/base.html' %}

{% block title %}Browse{% endblock %}

{% block content %}
<head>
  <title>WUBRG - {{card.data.name}}</title>
</head>
<body>
  <header class="container center-align">
    <h1>{{card.data.name}}</h1>
  </header>
  <div class="container center-align">
    <a href="{{card.data.image_uris.png}}">
      {% if card.data.layout == "transform"  %}
        <img style="height:500px;" src="{{card.data.card_faces.0.image_uris.png}}" />
      {% elif card.data.layout == "planar" or card.data.layout == "split"  %}
        <img class="rotate" style="height:500px;" src="{{card.data.image_uris.png}}" />
      {% else %}
        <img style="height:500px;" src="{{card.data.image_uris.png}}" />
      {% endif %}
    </a>
  </br>
    {{card.data.oracle_text}}
  <br />
    {{card.data}}
    <a href="/browse?page={{page}}">Back</a>
  </div>
{% endblock %}
