{% extends 'wubrgapp/base.html' %}

{% block title %}Browse{% endblock %}

{% block content %}
<head>
  <title>WUBRG</title>
</head>
<body>
  <header class="container center-align">
    <h1>{{card.data.name}}</h1>
  </header>
  <div class="container center-align">
    <a href="{{card.data.image_uris.png}}">
      {% if card.data.layout == "transform"  %}
        <img style="height:500px;" src="{{card.data.card_faces.0.image_uris.png}}" />
        <img style="height:500px;" src="{{card.data.card_faces.1.image_uris.png}}" />
      {% elif card.data.layout == "planar" or card.data.layout == "split"  %}
        <img class="rotate" style="height:500px;" src="{{card.data.image_uris.png}}" />
      {% else %}
        <img style="height:500px;" src="{{card.data.image_uris.png}}" />
      {% endif %}
    </a>
  </br>
    {{card.data.oracle_text}}
  </br>
    {{card.data}}

    <a href="/browse?page={{page}}">Back</a>
  </div>


</br></br>


  {% if user.is_authenticated %}
    <div class="container center-align">
      <form action="/builder/add/card/{{card.id}}" method="POST" id="add_card_form">
        {% csrf_token %}
        <select name="deck_id" form="add_card_form">
          {% for deck in user.decks.all %}
            <option value="{{deck.id}}" label="{{deck.name}}"></option>
          {% endfor %}
        </select>
        <input type="submit" name="submit" value="Add card to deck"/>
      </form>
    </div>
  {% else %}
    <div class="container center-align">
      <p><a href="/profile/login">Log in</a> to add this card to a deck.</p>
    </div>
  {% endif %}

  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}

{% endblock %}
