{% extends 'wubrgapp/base.html' %}

{% block title %}{{card.data.name}} - WUBRG{% endblock %}

{% block content %}
<head>
  <title>{{card.data.name}}</title>
</head>
<body>
  <header class="container center-align">
    <h1>{{card.data.name}}</h1>
  </header>
  <div class="container center-align">
    <a href="{{card.data.image_uris.png}}"><img style="height:500px;" src="{{card.data.image_uris.png}}" /></a>
  </br>
    {{card.data.oracle_text}}
  <br />
    <a href="/browse">Back</a>
  </div>
{% endblock %}
