{% extends 'wubrgapp/base.html' %}

{% block title %}Builder{% endblock %}


{% block blurb %}
Use our cutting-edge card suggestions to make the next
OP Bant Turbofog/Storm Hybrid deck and steamroll everyone at your LGS's FNM!
</br></br></br>
{% endblock %}

{% block content %}

<a href="create"><h2>Create a deck</h2></a></br>
<a href="add/card/massentry"><h2>Mass entry</h2></a></br>

<h2>Recently created decks</h2>
{% for deck in decks %}
  {% if forloop.first %}
    <div class="row" style="padding-top:15px;">
    {% endif %}
    <div class="col-sm-4" style="padding:50px;" >
        <a href="/browse/deck_details/{{deck.id}}">
          {% if deck.cards.0.data.layout == "transform"  %}
            <img style="height:200px;" src="{{deck.cards.0.data.card_faces.0.image_uris.png}}" />
          {% elif deck.cards.0.data.layout == "planar" or deck.cards.0.data.layout == "split"  %}
            <img class="rotate" style="height:200px;" src="{{deck.cards.0.data.image_uris.png}}" />
          {% else %}
            <img style="height:200px;" src="{{deck.cards.0.data.image_uris.png}}" />
          {% endif %}
        <li style="list-style:none" class="collection-item">{{deck.name}}</li>
      </a>
    </div>
  {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row" style="padding-top:15px;">
  {% endif %}
{% if forloop.last %}</div>{% endif %}
{% endfor %}

{% endblock %}
