{% extends 'wubrgapp/base.html' %}

{% block title %}Builder{% endblock %}


{% block blurb %}
Use our cutting-edge card suggestions to make the next
OP Bant Turbofog/Storm Hybrid deck and steamroll everyone at your LGS's FNM!
</br></br></br>
{% endblock %}

{% block content %}

<a href="create"><h2>Create a deck</h2></a></br>
<a href="add/card/massentry"><h2>Mass entry</h2></a></br>

<h2>Recently created decks</h2>
{% for deck in decks %}
    <a href="/browse/deck_details/{{deck.id}}">
    <li class="list-group-item d-flex justify-content-between align-items-center">{{deck.name}}

    {% if deck.colors|length > 0 %}
      <p><span class="badge badge-primary badge-pill">
        {% for color in deck.colors %}
          <i class="ms ms-{{color|lower}}"></i>
        {% endfor %}
      </span></p>
    {% endif %}

      <p><span class="badge badge-primary badge-pill">{{deck.format}}</span></p></li>
  </a>
{% endfor %}

{% endblock %}
