{% extends 'builder/base.html' %}

{% block title %}Builder{% endblock %}

{% block content %}

  <script type="text/javascript">
    var getSuggestedCards = async (searchText) => {
      var queryString = '?q=' + searchText;
      var response = await fetch('https://api.scryfall.com/cards/autocomplete' + queryString);
      if (response.status == 200) {
        var resultJson = await response.json();

        cardsList = resultJson.data;
        cardsString = "";
        for(var i=0; i<cardsList.length; i++) {
          cardsString += '<option value="' + cardsList[i] + '" />';
        }

        document.getElementById('suggestedCards').innerHTML = cardsString;
      }
    }

    function inputCard() {
      if (typeof cardName != 'undefined') {
        quantity = document.getElementById('quantity').value;
        cardName = document.getElementById('cardName').value;
        if (document.getElementById("is_commander").checked) {
          document.getElementById('mass_entry_text').value += quantity + "x " + cardName + " __commander__" + "\n";
        }
        else {
          document.getElementById('mass_entry_text').value += quantity + "x " + cardName + "\n";
        }
      }
    }
  </script>

  <h1>Mass entry</h1>

  <p>
    <b>Type one card name with the quantity per line.</b> <br>
    The mass entry form will add each normal latest edition card to your chosen
    deck. If the card with the name you specify does not exist, then that line
    will be ignored. The quantity must only be specified if you would like
    multiple of the same card in the deck. The format for quantity is a number
    followed by an 'x' - e.g. '3x' would specify a quantity of 3 of that card.
  </p>

  {% if user.is_authenticated %}

  <input type="text" style="width:250px" list="suggestedCards" id="cardName" onkeypress="getSuggestedCards(this.value);"/>
  <datalist id="suggestedCards"></datalist>
  <input type="number" style="width:50px" id="quantity" value="1" min="1" max="999"/>
  <input type="checkbox" id="is_commander" value="True">Make commander<br><br>
  <button class="btn btn-secondary" role="button" type="submit" name="is_sideboard" onclick="inputCard()">Add card to mass entry</button>

  <br><br>

  <form action="/builder/add/card/massentry" method="POST" id="mass_entry_form">
    {% csrf_token %}
    <br><br>
    <textarea id="mass_entry_text" rows="15" cols="75" name="cards_text" form="mass_entry_form" placeholder="{{placeholder}}"></textarea>
    <br><br>
    <select name="deck_id" form="mass_entry_form">
      {% for deck in decks %}
        <option value="{{deck.id}}" label="{{deck.name}}"></option>
      {% endfor %}
    </select>
    <button class="btn btn-secondary" role="button" type="submit" name="is_sideboard" value="False">Add cards to deck</button>
    <button class="btn btn-secondary" role="button" type="submit" name="is_sideboard" value="True">Add cards to sideboard</button>
  </form>
  {% else %}
    <p>Log in to mass add cards to a deck.</p>
    <a class="btn btn-secondary" href="/profile/login" role="button">Log in</a>
  {% endif %}



{% endblock %}
