{% extends 'browse/deck_details.html' %}

{% block content %}

  <h2>Deck validation unsuccessful</h2>

  <p>Head over to <a href="/browse/">browse</a> to edit your deck.</p>
  <br>
  <p><a href="/browse/deck_details/{{deck_id}}">Back</a></p>

  {% if messages %}
    {% for m in messages %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{m.message}}
      </div>
    {% endfor %}
  {% endif %}


{% endblock %}
