body {
  background-color: lightgrey;
}

h1 a {
    color: #00CC66;
}

.welcome-bar {
  padding: 20px;
  text-align:center;
}

.wubrgapp-navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.wubrgapp-body {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    padding-bottom: 5%;
}

.navbar-link {
    color: #ffff;
}
