body {
  background-color: lightgrey;
}

h1 a {
    color: #00CC66;
}

.welcome-bar {
  padding: 20px;
  text-align:center;
}

.wubrgapp-navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.wubrgapp-body {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    padding-bottom: 5%;
}

.navbar-link {
    color: #ffff;
}

.rotate {
    -webkit-transform: rotate(90deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(90deg);      /* to support IE 9 */
    transform: rotate(90deg);
}

.rotate_d{
    -webkit-transform: rotate(180deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(180deg);      /* to support IE 9 */
    transform: rotate(180deg);
}

.rotate_l{
    -webkit-transform: rotate(270deg);  /* to support Safari and Android browser */
    -ms-transform: rotate(270deg);      /* to support IE 9 */
    transform: rotate(270deg);
}

.profile-deck-image {
    width: 200px;
}

.details-deck-image {
    width: 300px;
}

.feed-title-image{
  width:200px;
}
