<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/wubrgapp.css' %}">

  <!--Start Keyrune/Mana stuff
  https://github.com/andrewgioia/Keyrune
  https://github.com/andrewgioia/Mana
  -->
  <link href="//cdn.jsdelivr.net/npm/mana-font@latest/css/mana.css" rel="stylesheet" type="text/css" />
  <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
  <style>
  @font-face {
    font-family: 'Keyrune';
    src: url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.eot');
    src: url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.eot?#iefix') format('embedded-opentype'),
      url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.woff2') format('woff2'),
      url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.woff') format('woff'),
      url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.ttf') format('truetype'),
      url('//cdn.jsdelivr.net/npm/keyrune@latest/fonts/keyrune.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  </style>
  <!--End Keyrune Stuff-->



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Boootstrap tooltips -->
  <script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">WUBRG - {% block title %}{% endblock %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a style="color:#F9FAF4;" class="nav-link" href="/home"><i class="ms ms-w"></i> Home</a>
        </li>
        <li class="nav-item">
          <a style="color:#0E68AB;" class="nav-link" href="/browse"><i class="ms ms-u"></i> Browse Content</a>
        </li>
        <li class="nav-item">
          <a style="color:#994aa1;" class="nav-link" href="/builder"><i class="ms ms-b"></i> Build</a>
        </li>
        <li class="nav-item">
          <a style="color:#D3202A;" class="nav-link" href="/profile"><i class="ms ms-r"></i> Profile</a>
        </li>
        <li class="nav-item">
          <a style="color:#00733E;" class="nav-link" href="/tools"><i class="ms ms-g"></i> Informational Tools</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/profile/user_page">{{ user.username }}</a>
          </li>
          <li>
            <a class="nav-link" href="/profile/logout"><i class="ms ms-untap"></i> Logout</a>
          <li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/profile/register">Register</a>
        </li>
        <li>
          <a class="nav-link" href="/profile/login">Login</a></a>
        <li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="wubrgapp-body" align="center">
    {% block blurb %}{% endblock %}
    {% block content %}{% endblock %}
  </div>
</body>
</html>
