{% extends 'wubrgapp\base.html' %}

{% block title %}<em>Welcome to WUBRG!</em>{% endblock %}

{% block blurb %}
WUBRG is an MTG companion in which players can search for cards, build decks,
  playtest a build, share decks with others, and much more. WUBRG is built using
  the Python Django framework and leverages existing MTG APIs in order to provide
  a fast, efficient, and up-to-date service for users. By using the WUBRG web
  application, a user can create their own account to retain various information,
  such as decks and favorite cards.
{% endblock %}
